.Apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.Apply .Header {
  font-family: "Oleo Script";
  font-size: 4rem;
  margin-top: 2rem;
}
/* ---- Styling the form ---- */

.Apply .FormContainer {
  background-color: #fff;
  padding: 3rem 3rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
}

@media only screen and (min-width: 581px) and (max-width: 1024px) {
  .Apply .FormContainer {
    width: 75%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 580px) {
  .Apply .FormContainer {
    width: 85%;
  }
}

.Apply .Form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
/* ---- Form Header ---- */
.Apply .FormHeader {
  font-weight: 600;
  flex-wrap: wrap;
}

.FormHeader .FormHeaderText {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.FormHeader .FormHeaderDesc {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
/* ---- Form Labels and Inputs ---- */
.Apply .FormLabels {
  margin-bottom: 0.6rem;
}

.Apply .FormInput {
  margin-bottom: 0.8rem;
  height: 3.4rem;
  font-size: 1.1rem;
  color: #333;
  border: 1px solid #ebebed;
  border-radius: 2px;
  cursor: auto;
}

.Apply .FormSelectContainer {
  display: flex;
}

.Apply .FormSelect {
  background-color: #fff;
  border: 1px solid #e8ebed;
  outline: 0;
  border-radius: 2px;
  height: 3.4rem !important;
  line-height: 1.42;
  padding: 6px 24px 6px 12px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 1.5rem;
  margin-right: 1.2rem;
}

.Apply input {
  margin-right: 1rem;
}

/* ---- Form Terms  ---- */
.Apply .TermsSection {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  background-color: #efefef;
  /* margin: 1.5rem; */
}

.Apply .FormButton {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
}

/* ---- Form Footer  ---- */

hr {
  width: 100%;
}

.Apply .FormFooter {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Apply .SignInButton {
  background-color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem 1rem;
}
